head
  link(rel='stylesheet' href='/css/style.css')
body

  h2 URL Shortener
  form(method='POST' action='/shorten')
    
    input(type='text' id='url' placeholder='url' name='url')
    input(type='submit')
